.registration-form {
    width: 1170px;
    height: 1000px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px -2px 2px #00000014, 0px 2px 20px 5px #00000014;
    margin: 100px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.registration-title > p{
    text-align: center;
    font-family: Montserrat300;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 26px;
}

.reg-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 325px;
}

label {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-align: left;
}

input {
    width: 325px;
    height: 55px;
    box-shadow: 0px -2px 2px #00000014, 0px 2px 20px 5px #00000014;
    border-radius: 10px;
    border: 2px solid #5F9D9F;
    outline: 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    transition: .3s;
}

input.invalid {
    transition: .3s;
    border: 2px solid #f99494;
}

input::placeholder {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    color: #0000004d;
    text-align: center;
}

.btn > a {
    text-decoration: none;
    width: 325px;
    height: 52px;
    border-radius: 5px;
    background-color: #5F9D9F;
    color: white;
    font-family: Montserrat300;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: .3s;
    box-shadow: 0px -2px 2px #00000014, 0px 2px 20px 5px #00000014;
    cursor: pointer;
}

.btn > a:hover {
    transition: .3s;
    background-color: #87B6B7;
}

.btn {
    display: flex;
    justify-content: center;
}

.login-via {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.via-google, .via-facebook {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #5F9D9F;
    width: 144px;
    height: 45px;
    color: white;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    gap: 10px;
    transition: .3s;
    box-shadow: 0px -2px 2px #00000014, 0px 2px 20px 5px #00000014;
}

.via-google:hover, .via-facebook:hover {
    transition: .3s;
    background-color: #87B6B7;
}

.redirect {
    display: flex;
    justify-content: center;
}

.redirect > a{
    color: #5F9D9F;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    width: 231px;
    height: 20px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin-top: -20px;
}

.redirect > a::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #5F9D9F;
    top: 20px;
    left: 0;
    transform: scaleX(0);
    transition: .3s;
}

.redirect > a:hover::after {
    transform: scaleX(1);
    transition: .3s;
}

.reg-form > .underline {
    border: 1px solid #C3DADB;
    margin: -5px 0px -10px 0px;
}