{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cabinet/cabinet.css' %}">
{% endblock %}
{% block title %}
<title> Tencho - Account</title>
{% endblock %}

{% block content %}
        <div class="cabinet">
            <div class="cabinet-title">
                <p>Личный кабинет</p>
            </div>
            <div class="cards">
                <div class="big-cards">
                <a href="{% url 'users:data' %}" >
                    <div class="card user-info">
                        <div class="top">
                            <img width="80" height="80"
                            src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'img/Icons/user.png' %} {% endif %}" alt="user"
                            class="img-thumbnail our_image_style">
                            <p class="delivery-counter">{{user.first_name}} {{user.last_name}}</p>
                        </div>
                        <div class="bot data-bot">
                            <div class="data">
                                <p>Логин: {{user.username}}</p>
                                <p>Email: {{user.email}}</p>
                            </div>
                            <a class="logout" href="{% url 'users:logout' %}">
                                <p class="delivery-counter">Выйти</p>
                            </a>
                        </div>
                    </div>
                </a>
                
                    <div class="card delivery-info">
                        <a href="{% url 'users:delivery' %}">
                        <div class="top">
                            <img src="{% static 'img/Icons/cabinetDeliveryIcon.png' %}" alt="user">
                            <p class="delivery-counter">Доставки</p>
                        </div>
                        <div class="bot">
                            <p class="delivery-counter">У вас <span class="hover_marks">нет</span> активных доставок</p>
                        </div>
                    </a>
                    </div>
                
                    <div class="card sales-info">
                        <div class="top">
                            <img src="{% static 'img/Icons/CabinetSalesIcon.png' %}" alt="user">
                            <p style="color: #5F9D9F;">Скидки</p>
                        </div>
                        <div class="bot">
                            <div class="sale-counter">
                                <p style = "color: #5F9D9F;">Персональная скидка —</p>
                                <div class="sale">
                                    <p class="sale-number s1">27%</p>
                                    <p class="sale-number s2">27%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-cards">
                    <a href="{% url 'users:users_cards' %}">
                    <div class="orders">
                        <p class="delivery-counter">Мои карты</p>
                        <p>*4553 VISA</p>
                    </div>
                </a>
                <a href="{% url 'users:purchases' %}">
                    <div class="orders">
                        
                        <p class="delivery-counter">Покупки</p>
                        <p class="delivery-counter">У вас <span class="hover_marks">4</span> покупки</p>
                        
                    </div>
                </a>
                <a href="{% url 'users:favorite' %}">
                    <div class="favourite">
                        <p class="delivery-counter">Избранное</p>
                        <p><span class="hover_marks">15</span> товаров</p>
                    </div>
                </a>
                <a href="{% url 'users:notify' %}">
                    <div class="notifications">
                        <p class="delivery-counter">Уведомления</p>
                        <div class="notifications-block">
                            <img src="{% static 'img/Icons/Bell.png' %}" alt="bell">
                            <p style="color: bfbfbf;"><span class="hover_marks">2</span> новых</p>
                        </div>
                    </div>
                </a>
                </div>
                <div class="thanks">
                    <img src="{% static 'img/cabinet-logo.png' %}" alt="cabinet-logo">
                    <p>Спасибо, что выбираете нас!</p>
                </div>
            </div>
        </div>
        {%endblock%}

        {% block js %}
    <script src="{% static 'js/burger.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    {% endblock %}
