{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/product/product.css' %}">
<link rel="stylesheet" href="{% static 'css/product/feedback.css' %}">
<link rel="stylesheet" href="{% static 'css/index/new.css' %}">
<link rel="stylesheet" href="{% static 'css/index/popular.css' %}">
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
<title>Tencho</title>
{% endblock %}

{% block content %}
        <div class="product-form">
            <div class="product-top">
                <!--Отсюда начинается genproduct.js-->
                <img src="{{product.get_image_url}}" class="product-img" alt="{{product.name}}">
                <div class="info-block">
                    <h1 class="product-title">
                        {{product.name}}
                    </h1>
                    <p class="product-price">
                        {{product.cost}}
                    </p>
                    <p>Доступные размеры:</p>
                    <div class="sizes product-sizes">
                        {% for size in sizes %}
                            <div class="size-option" data-size="{{ size.id }}">{{ size.name }}</div>
                        {% endfor %}
                    </div>
                    <div class="order-block">
                        <form id="form_buying_product" class="" action="{% url 'orders:basket_add'%}">
                            {% csrf_token %}
                            <div class="number">
                                <div class="form-group">
                                <!--Тут применяется itemscount.js-->
                                <!--<button class="number-minus minus" type="button">-</button>-->
                                <input type="number" class="form-control" name="number" id="number" placeholder="Количество">
                                <!--<button class="number-plus plus" type="button">+</button>-->
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <!--Тут применяется itemscount.js-->
                                <!--<button class="number-minus minus" type="button">-</button>-->
                                <input type="text" class="form-control" name="size" id="size" placeholder="Размер">
                                <!--<button class="number-plus plus" type="button">+</button>-->
                                </div>
                            
                            
                            {% if user.is_authenticated%}
                            <div class="form-group">
                            <button class="order-block-button btn-buy"
                            type="submit" id="submit_btn"
                                    data-product_id = "{{ product.id }}"
                                    data-name ="{{ product.name }}"
                                    data-cost ="{{ product.cost }}"
                                    data-category = "{{product.category}}"
                            > В корзину</button>
                            </div>
                            {% else%}
                            <a href="{% url 'users:login'%}">В корзину</a>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-about">
                <h1>Описание:</h1>
                <p class="product-item-about">{{product.description}}</p>
            </div>
        </div>
        <div class="same">
            <p class="new-title">Похожие товары</p>
            <div class="new-items">
                {% for another_product in similars_products%}
                {% if another_product.category == product.category and counter < 4 and another_product.name != product.name%}
                <div class="item">
                    <div class="item-content">
                    <span class="detailed" onclick="modalWindow(this)" data-name="{{another_product.name}}" data-cost="{{another_product.cost}}"  data-img="{{another_product.image}}" data-desc="{{another_product.description}}" data-category="{{another_product.category}}">Подробнее</span>
                    <img src="{{another_product.get_image_url}}" alt="{{another_product.name}}">
                    <div class="underline"></div>
                    <p class="item-title">{{another_product.name}}</p>
                    <a href="/product_detail/{{another_product.id}}" onclick="buy(this)" data-name="{{another_product.name}}" data-cost="{{another_product.cost}}"  data-img="{{another_product.image}}" data-desc="{{another_product.description}}" data-category="{{another_product.category}}">Купить</a>
                    </div>
                    </div>
                    {% endif %}
                    
                {% endfor %}
                    
                <!--Здесь используется genproduct.js функция с out-->
            </div>
        </div>
        <div class="feedback">
            <div class="feedback-title">
                <p>Отзывы</p>
            </div>
            <div class="feedback-content">
                <div class="feedbacks">
                    <div class="feedback-item">
                        <div class="item-top">
                            <div class="avatar"></div>
                            <p>Николай</p>
                            <img src="{% static 'img/stars1.png' %}" alt="stars">
                        </div>
                        <div class="item-bot">
                            <p>Чай великолепный! Заказываю уже в 7ой раз, пьём всей семьёй. Очень всем рекомендуем.</p>
                        </div>
                    </div>
                    <div class="feedback-item">
                        <div class="item-top">
                            <div class="avatar"></div>
                            <p>Олег</p>
                            <img src="{% static 'img/stars2.png' %}" alt="stars">
                        </div>
                        <div class="item-bot">
                            <p>Чай необычный. Не думаю, что подойдет как чай на каждый день, но в целом неплохо.</p>
                        </div>
                    </div>

                    <div class="feedback-item">
                        <div class="item-top">
                            <div class="avatar"></div>
                            <p>Василий</p>
                            <img src="{% static 'img/stars3.png' %}" alt="stars">
                        </div>
                        <div class="item-bot">
                            <p>Слишком крепкий чай получается. Пить слишком тяжело.</p>
                        </div>
                    </div>

                    <div class="feedback-item">
                        <div class="item-top">
                            <div class="avatar"></div>
                            <p>Дмитрий</p>
                            <img src="{% static 'img/stars4.png' %}" alt="stars">
                        </div>
                        <div class="item-bot">
                            <p>Вообще не понравился. Отвратительный на вкус, может не моё. Но больше такой заказывать не
                                буду.</p>
                        </div>
                    </div>
                </div>
                <div class="feedback-form">
                    <div class="feedback-form-title">
                        <p>Оставьте свой отзыв</p>
                    </div>
                    <div class="form-items">
                        <label for="name">Имя:</label>
                        <input type="text" placeholder="Введите имя">
                        <label for="stars">Оценка:</label>
                        <div class="stars" id="stars">
                            <svg class="star" width="33" height="33" viewBox="0 0 33 33" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.5 3.23607L19.2534 11.7102L19.4779 12.4012H20.2045H29.1147L21.9062 17.6385L21.3184 18.0656L21.5429 18.7566L24.2963 27.2307L17.0878 21.9934L16.5 21.5664L15.9122 21.9934L8.70366 27.2307L11.4571 18.7566L11.6816 18.0656L11.0938 17.6385L3.88525 12.4012H12.7955H13.5221L13.7466 11.7102L16.5 3.23607Z"
                                    stroke="#5F9D9F" stroke-width="2" />
                            </svg>
                            <svg class="star" width="33" height="33" viewBox="0 0 33 33" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.5 3.23607L19.2534 11.7102L19.4779 12.4012H20.2045H29.1147L21.9062 17.6385L21.3184 18.0656L21.5429 18.7566L24.2963 27.2307L17.0878 21.9934L16.5 21.5664L15.9122 21.9934L8.70366 27.2307L11.4571 18.7566L11.6816 18.0656L11.0938 17.6385L3.88525 12.4012H12.7955H13.5221L13.7466 11.7102L16.5 3.23607Z"
                                    stroke="#5F9D9F" stroke-width="2" />
                            </svg>
                            <svg class="star" width="33" height="33" viewBox="0 0 33 33" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.5 3.23607L19.2534 11.7102L19.4779 12.4012H20.2045H29.1147L21.9062 17.6385L21.3184 18.0656L21.5429 18.7566L24.2963 27.2307L17.0878 21.9934L16.5 21.5664L15.9122 21.9934L8.70366 27.2307L11.4571 18.7566L11.6816 18.0656L11.0938 17.6385L3.88525 12.4012H12.7955H13.5221L13.7466 11.7102L16.5 3.23607Z"
                                    stroke="#5F9D9F" stroke-width="2" />
                            </svg>
                            <svg class="star" width="33" height="33" viewBox="0 0 33 33" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.5 3.23607L19.2534 11.7102L19.4779 12.4012H20.2045H29.1147L21.9062 17.6385L21.3184 18.0656L21.5429 18.7566L24.2963 27.2307L17.0878 21.9934L16.5 21.5664L15.9122 21.9934L8.70366 27.2307L11.4571 18.7566L11.6816 18.0656L11.0938 17.6385L3.88525 12.4012H12.7955H13.5221L13.7466 11.7102L16.5 3.23607Z"
                                    stroke="#5F9D9F" stroke-width="2" />
                            </svg>
                            <svg class="star" width="33" height="33" viewBox="0 0 33 33" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.5 3.23607L19.2534 11.7102L19.4779 12.4012H20.2045H29.1147L21.9062 17.6385L21.3184 18.0656L21.5429 18.7566L24.2963 27.2307L17.0878 21.9934L16.5 21.5664L15.9122 21.9934L8.70366 27.2307L11.4571 18.7566L11.6816 18.0656L11.0938 17.6385L3.88525 12.4012H12.7955H13.5221L13.7466 11.7102L16.5 3.23607Z"
                                    stroke="#5F9D9F" stroke-width="2" />
                            </svg>
                        </div>
                        <label for="message">Отзыв:</label>
                        <textarea placeholder="Введите отзыв" name="message" id="message" cols="30"
                            rows="10"></textarea>
                        <a href="#">Отправить</a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        
        {% block footer %}
        <div class="back-btn">
            <a href="#header">
                <img src="{% static 'img/arrow-up5.png' %}" alt="back-scroll">
            </a>
        </div>
        <div class="zoom-modal">
            <div class="modal-content">
                <!--zoom.js-->
                <div class="modal-item">
                    <div class="modal-item-content">
                        <img src="" class="modal-image" alt="tofu">
                    </div>
                </div>
                <div class="about">
                    <h1 class="modal-title"></h1>
                    <p class="modal-price"></p>
                    <p>Размеры:</p>
                    <div class="sizes">
                        {% for size in sizes %}
                        <div>{{size.name}}</div>
                        {% endfor %}
                    </div>
                    <p class="modal-item-about"></p>
                </div>
                <span class="close">X</span>
            </div>
        </div>
{% endblock %}
{% block js%}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/burger.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.js' %}"></script>
    <script src="{% static 'js/zoom.js' %}"></script>
    <script src="{% static 'js/stars.js' %}"></script>
    <script src="{% static 'js/itemscount.js' %}"></script>
    <!--<script src="{% static 'js/genproduct.js' %}"></script>-->
    <script src="{% static 'js/cart.js' %}"></script>
    {% endblock%}