.cabinet {
    width: 800px;
    height: 576px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px -2px 2px #00000014, 0px 2px 20px 5px #00000014;
    margin-top: 100px;
    user-select: none;
}

.cabinet-title {
    text-align: center;
    font-family: Montserrat;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 300;
}

.alert_our_color{
    color: white;
    background-color: #87B6B7;
}
.alert_a{
    color: #bdeced;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    width: 326px;
    height: 20px;
    margin: 0;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

input[type="submit"].btn{
    text-decoration: none;
    width: 100%;
    height: 52px;
    border-radius: 5px;
    background-color: #5F9D9F;
    color: white;
    font-family: Montserrat300;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: .3s;
    box-shadow: 0px -2px 2px #00000014, 0px 2px 20px 5px #00000014;
    cursor: pointer;
    border: 2px solid white;
}
input[type="submit"].btn:hover {
    transition: .3s;
    background-color: #87B6B7;
}
.cards {
    margin: 0px 23px 0px 23px;
}

.our_image_style{
    border-radius: 50%;
    overflow: hidden;
}

.form_margin{
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.big-cards {
    display: flex;
    flex-direction: row;
    gap: 31px;
}

.big-cards>.card {
    background-color: white;
    width: 354px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0px -2px 2px #00000014, 0px 2px 20px 5px #00000014;
    padding: 10px 15px 27px 15px;
    font-family: Montserrat;
}

.card {
    transition: .3s;
}


.logout>p {
    position: relative;
    cursor: pointer;
}

.logout>p::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 18px;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transition: .3s;
}

.logout>p:hover::after {
    transition: .3s;
    transform: scaleX(1);
}

.data {
    font-weight: 400;
    color: #bfbfbf;
}


.delivery-counter, .orders-counter, .favourite-counter, .notifications-counter {
    color: #5F9D9F;
    cursor: pointer;
    position: relative;
}

.delivery-counter::after, .orders-counter::after, .favourite-counter::after, .notifications-counter::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 18px;
    left: 0;
    transition: .3s;
    background-color: #5F9D9F;
    transform: scaleX(0);
}

.delivery-counter:hover::after, .orders-counter:hover::after, .favourite-counter:hover::after, .notifications-counter:hover::after {
    transition: .3s;
    transform: scaleX(1);
}

.delivery-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
}



.thanks {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 26px;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.thanks > p {
    margin-top: 35px;
    text-align: center;
}
